@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard_headers{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.dashboard_ticker, .dashboard_price, .dashboard_date, .dashboard_time{
  display: flex;
  padding: 12px;
  margin: 0 202px 0 220px;
}